/* CSS Document */

.button-ok{
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
    padding: 1em;

    background-color: var(--nord1);
    opacity: 0.9;

    border-radius: 0.3em;
    color: var(--nord10);
    cursor: pointer;
    border: 0;
}

.button-cancel{
    position: absolute;
    bottom: 1.5em;
    right: 10em;
    padding: 1em;

    background-color: var(--nord8);
    opacity: 0.9;

    border-radius: 0.3em;
    color: var(--nord10);
    cursor: pointer;
    border: 0
}


.button-cancel:hover{
    background-color: var(--nord8);
    opacity: 1;
}

.button-ok:hover{
    background-color: var(--nord1);
    opacity: 1;
}