/* CSS Document */

@import '../../nord.css';

.text-title{
    color: var(--nord4);
    font-family: Arial;
}

.text-paragraph{

}

.text-button{

}

.text-paragraph--labeled{
    text-decoration: line-through;
}