.task{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.task-icon{
    width: 1rem;
}

.task-text{
    width: calc(100% - 3rem);
    margin: 0;
    padding: 0
}