:root{
    --nord0:#001219;
    --nord1:#005f73;
    --nord2:#0a9396;
    --nord3:#94d2bd;
    --nord4:#e9d8a6;
    --nord5:#ee9b00;
    --nord6:#ca6702;
    --nord7:#bb3e03;
    --nord8:#ae2012;
    --nord9:#9b2226;
    --nord10: #ffffff;
}